header {
    z-index: 2000;
}
.row h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.row {
    position: relative;
}
#caseNav {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    align-self: flex-start;
}
#caseNav a {
    background-color: #7b518c;
    border: none;
    color: #40d3e6;
    font-size: 10pt;
}
#caseNav a:hover {
  text-decoration: underline;
  text-decoration-color: #cf4447;
  text-decoration-thickness: 2px;
}
a:active {
    top: 1px;
}
p {
    text-align: justify;
}
.container p {
    text-indent: 3em;
}
blockquote {
    margin-left: 3em;
    text-align: justify;
}
.quote-row {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
.quote {
    border-radius: 10px;
    background-color: #7b518c;
    width: 350px;
    padding: 15px;
    margin: 5px;
    text-align: justify;
}
/* Carousel tweaks */
.carousel-caption p {
    text-indent: unset;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(66, 138, 153, 0.8);
}


/* Mobile */
  @media only screen and (max-width: 580px) {
      #caseNav {
          display: none;
      }
      .container h3 {
        font-size: 30pt;
        line-height: 34pt;
        padding: 0;
      }
      .container h4 {
        font-size: 20pt;
        line-height: 25pt;
      }
  }